@model IEnumerable<ClienteHttpMVC.DTO.ListadoUsuariosDTO>

@{
    ViewData["Title"] = "ListarUsuarios";
}

<h1>Lista de usuarios - reseteo password</h1>
@if(ViewBag.Error != null)
{
    <h4 style="color:red">@ViewBag.Error</h4>
}else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Rol)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Contrasena)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NombreEquipo)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Rol)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Contrasena)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NombreEquipo)
                    </td>
                    <td>
                        @Html.ActionLink("Resetear password", "Edit", new { id = item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>

}