@model IEnumerable<ClienteHttpMVC.DTO.PagosUsuarioDTO>

@{
    ViewData["Title"] = "listadoPagos";
}

<h1>listado de pagos unicos realizados</h1>

@if (ViewBag.Rol != null)
{
    <h4 style="color:red">@ViewBag.Rol</h4>
}else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MetodoDePago)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TipoDeGasto)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Monto)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TipoDePago)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descripcion)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MetodoDePago)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TipoDeGasto)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Monto)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TipoDePago)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descripcion)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
